body {
  background-color: #000;
  min-block-size: 100%;
  min-inline-size: 100%;
  font-family: system-ui, sans-serif;
}

$breakpoint-alpha: 480px; // adjust to your needs

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1514583228371-3da8bd8d6aba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  .desc {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @media screen and (max-width: $breakpoint-alpha) {
      bottom: 80px;
    }
    
    h1,
    span,
    span a {
      color: white;
      text-align: center;
      
      a {
        text-decoration: none;
        
        strong {
          font-weight: 600;
        }
      }
    }
    
    span {
      opacity: 0;
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
      
      
      &.show {
        animation: showText 1s linear forwards;
      }
      
      @keyframes showText {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
  
  .byphoto {
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    @media screen and (max-width: $breakpoint-alpha) {
      bottom: 30px;
      left: 50%;
      transform: translate(-50%);
    }
    
    span,
    a {
      color: white;
    }
    
    a {
      margin-left: 10px;
      white-space: nowrap;
      letter-spacing: 3.5px;
    }
  }
}

#ars_canv{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  top: 0;
  pointer-events: none;
  opacity: 0;
  transition: 5s;
  transition-delay: 3s;
}